version: '3'
services: 
    java-selenium:
        build: ./java-selenium/
        image: devcontainer:java-selenium
    node:
        build: ./node
        image: devcontainer:node
    mule-server:
        build: ./mule-server
        image: devcontainer:mule-server
    python3.8:
        build: ./python3.8
        image: devcontainer:python3.8